@import 'tailwindcss';

@theme {
  --color-bg: #10131a;
  --color-surface: #191b23;
  --color-surface-high: #272a31;
  --color-border: #262a33;
  --color-text: #e1e2ec;
  --color-text-dim: #8c909f;
  --color-primary: #3b82f6;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-danger: #f87171;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-sans);
}